.nprogress .bar {
  background: var(--vp-c-indigo-3);
}

.nprogress .peg {
  box-shadow: 0 0 10px var(--vp-c-indigo-3), 0 0 5px var(--vp-c-indigo-3);
}

.nprogress .spinner-icon {
  border-top-color: var(--vp-c-indigo-3);
  border-left-color: var(--vp-c-indigo-3);
}
