.VPHome {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #746DC1 40%,
    #228CC2
  );
  --vp-home-hero-image-background-image: linear-gradient(
    50deg,
    #07ABFC50 50%,
    #7367FC50 50%
  );
  --vp-home-hero-image-filter: blur(60px);
}

.dark .VPHome {
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #7D76CC 40%,
    #41D1FF
  );
}

@media (min-width: 960px) {
  .VPHome .image-container .image-src {
    max-width: 220px;
    max-height: 220px;
  }
}
